<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">
   
   <xacro:arg name="name" default="ur"/>
   
   <xacro:include filename="$(find duo_ur)/urdf/ur5e_macro.xacro"/>
   <xacro:include filename="$(find BrainCoRightHandURDF)/urdf/BrainCoRightHandURDF.urdf.xacro"/>

   <xacro:arg name="ur_type" default="ur5e"/>

   <xacro:arg name="tf_prefix_1" default="right_" />
   <xacro:arg name="tf_prefix_2" default="left_" />
   <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
   <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
   <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
   <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
   <xacro:arg name="transmission_hw_interface" default=""/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>
   
   <xacro:arg name="headless_mode" default="false" />
   <xacro:arg name="robot_ip_1" default="192.168.1.102" />
   <xacro:arg name="robot_ip_2" default="192.168.1.103" />
   <xacro:arg name="script_filename" default=""/>
   <xacro:arg name="output_recipe_filename" default=""/>
   <xacro:arg name="input_recipe_filename" default=""/>
   <xacro:arg name="reverse_ip" default="0.0.0.0"/>

   <xacro:arg name="script_command_port_1" default="50004"/>
   <xacro:arg name="reverse_port_1" default="50001"/>
   <xacro:arg name="script_sender_port_1" default="50002"/>
   <xacro:arg name="trajectory_port_1" default="50003"/>
   <xacro:arg name="script_command_port_2" default="50014"/>
   <xacro:arg name="reverse_port_2" default="50011"/>
   <xacro:arg name="script_sender_port_2" default="50012"/>
   <xacro:arg name="trajectory_port_2" default="50013"/>
   
   <xacro:arg name="use_tool_communication" default="false" />
   <xacro:arg name="tool_voltage" default="0" />
   <xacro:arg name="tool_parity" default="0" />
   <xacro:arg name="tool_baud_rate" default="115200" />
   <xacro:arg name="tool_stop_bits" default="1" />
   <xacro:arg name="tool_rx_idle_chars" default="1.5" />
   <xacro:arg name="tool_tx_idle_chars" default="3.5" />
   <xacro:arg name="tool_device_name" default="/tmp/ttyUR" />
   <xacro:arg name="tool_tcp_port" default="54321" />

   <xacro:arg name="use_fake_hardware" default="true" /> 
   <xacro:arg name="fake_sensor_commands" default="false" />
   <xacro:arg name="sim_gazebo" default="false" />
   <xacro:arg name="sim_ignition" default="false" />
   <xacro:arg name="simulation_controllers" default="$(find duo_ur)/config/duo_ur5e_controllers.yaml" />
   
   <material name="Light_Grey">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>
   
   <xacro:arg name="initial_positions_file_1" default="$(find duo_ur)/config/$(arg tf_prefix_1)initial_positions.yaml"/>
   <xacro:arg name="initial_positions_file_2" default="$(find duo_ur)/config/$(arg tf_prefix_2)initial_positions.yaml"/>

   <xacro:property name="initial_positions_file_1" default="$(arg initial_positions_file_1)"/>
   <xacro:property name="initial_positions_file_2" default="$(arg initial_positions_file_2)"/>
   <xacro:property name="is_sim_gazebo" value="$(arg sim_gazebo)"/>
   <xacro:property name="is_sim_ignition" value="$(arg sim_ignition)"/>

   <xacro:property name="mur_dimension" value="1.14 0.54 0.625"/>
   <xacro:property name="mur_origin" value="0 0 0.3125"/>
   <xacro:property name="hip_dimension_visual" value="0.68 0.54 0.27"/>
   <xacro:property name="hip_dimension_collision" value="0.77 0.63 0.36"/>
   <xacro:property name="hip_origin" value="-0.23 0 0.4475"/>
   <xacro:property name="torso_dimension" value="0.2 0.1 0.88"/>
   <xacro:property name="torso_origin" value="0.12 0 0.575"/>
   <xacro:property name="shoulder_dimension" value="0.2 0.47 0.33"/>
   <xacro:property name="shoulder_origin" value="0 0 0.275"/>
   <xacro:property name="plate_dimension" value="0.18 0.18 0.02"/>
   <xacro:property name="left_plate_origin" value="0 -0.16 0.01807"/>
   <xacro:property name="right_plate_origin" value="0 0.16 0.025"/> 
   <xacro:property name="base_mount_origin" value="0 0 0.01"/>

   <xacro:property name="camera_base_radius" value="0.0375"/>
   <xacro:property name="camera_base_length" value="0.025"/>
   <xacro:property name="camera_base_origin" value="0 0 0.007"/>
   
   <xacro:property name="sensor_base_radius" value="0.0575"/>
   <xacro:property name="sensor_base_length" value="0.035"/>
   <xacro:property name="sensor_base_origin" value="0 0 0.03"/>

   <link name="world" />

  <link name="mur">
    <visual>
      <geometry>
        <box size="${mur_dimension}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 .8 .5"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="${mur_dimension}"/>
      </geometry>
    </collision>
  </link>
  <joint name="world_to_mur" type="fixed">
    <parent link="world"/>
    <child link="mur"/>
    <origin xyz="${mur_origin}"/>
  </joint>

  <link name="hip">
    <visual>
      <geometry>
        <box size="${hip_dimension_visual}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 .8 .5"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="${hip_dimension_collision}"/>
      </geometry>
    </collision>
  </link>
  <joint name="mur_to_hip" type="fixed">
    <parent link="mur"/>
    <child link="hip"/>
    <origin xyz="${hip_origin}"/>
  </joint>

  <link name="torso">
    <visual>
      <geometry>
        <box size="${torso_dimension}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 .8 .5"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="${torso_dimension}"/>
      </geometry>
    </collision>
  </link>
  <joint name="hip_to_torso" type="fixed">
    <parent link="hip"/>
    <child link="torso"/>
    <origin xyz="${torso_origin}"/>
  </joint>

  <link name="shoulder">
    <visual>
      <geometry>
        <box size="${shoulder_dimension}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 .8 .5"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="${shoulder_dimension}"/>
      </geometry>
    </collision>
  </link>
  <joint name="torso_to_shoulder" type="fixed">
    <parent link="torso"/>
    <child link="shoulder"/>
    <origin xyz="${shoulder_origin}"/>
  </joint>

  <link name="chest"/>
  <joint name="torso_to_chest" type="fixed">
    <parent link="torso"/>
    <child link="chest"/>
    <origin xyz="0.1 0 0" rpy="0 0 0"/>  
  </joint>

  <link name="$(arg tf_prefix_1)plate">
    <visual>
      <geometry>
        <box size="${plate_dimension}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="${plate_dimension}"/>
      </geometry>
    </collision>
  </link>
  <joint name="torso_to_$(arg tf_prefix_1)plate" type="fixed">
    <parent link="torso"/>
    <child link="$(arg tf_prefix_1)plate"/>
    <origin xyz="${left_plate_origin}" rpy="2.35619449019 0 0"/>

    <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.5"/>
  </joint>
  <link name="$(arg tf_prefix_1)base_mount"/>
  <joint name="$(arg tf_prefix_1)plate_to_base_mount" type="fixed">
    <parent link="$(arg tf_prefix_1)plate"/>
    <child link="$(arg tf_prefix_1)base_mount"/>
    <origin xyz="${base_mount_origin}" rpy="0 0 -0.0127409035"/>
    
    <axis xyz="0 0 0"/>
    
    <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.5"/>
  </joint>

  <link name="$(arg tf_prefix_2)plate">
    <visual>
      <geometry>
        <box size="${plate_dimension}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="${plate_dimension}"/>
      </geometry>
    </collision>
  </link>
  <joint name="torso_to_$(arg tf_prefix_2)plate" type="fixed">
    <parent link="torso"/>
    <child link="$(arg tf_prefix_2)plate"/>
    <origin xyz="${right_plate_origin}" rpy="2.35619449019 0 3.14159265359"/>

    <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.5"/>
  </joint>

  <link name="$(arg tf_prefix_2)base_mount"/>
  <joint name="$(arg tf_prefix_2)plate_to_base_mount" type="fixed">
    <parent link="$(arg tf_prefix_2)plate"/>
    <child link="$(arg tf_prefix_2)base_mount"/>
    <origin xyz="${base_mount_origin}"/> 
    
    <axis xyz="0 0 0"/>
    
    <limit effort="1000.0" lower="-0.5" upper="0.5" velocity="0.5"/>
  </joint>

   <xacro:if value="${is_sim_gazebo or is_sim_ignition}">
     <link name="ground_plane">
       <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
           <box size="5 5 0"/>
         </geometry>
         <material name="ground_white">
           <color rgba="1 1 1 0.5"/>
         </material>
       </visual>
       <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
           <box size="5 5 0"/>
         </geometry>
       </collision>
     </link>

     <joint name="ground_plane_joint" type="fixed">
       <origin xyz="0 0 -0.01" rpy="0 0 0"/>
       <parent link="world"/>
       <child link="ground_plane"/>
     </joint>
   </xacro:if>

   <xacro:ur_robot
     name="$(arg tf_prefix_1)$(arg name)"
     tf_prefix="$(arg tf_prefix_1)"
     parent="$(arg tf_prefix_1)base_mount"   
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"
     use_fake_hardware="$(arg use_fake_hardware)"
     fake_sensor_commands="$(arg fake_sensor_commands)"
     sim_gazebo="$(arg sim_gazebo)"
     sim_ignition="$(arg sim_ignition)"
     headless_mode="$(arg headless_mode)"
     initial_positions="${xacro.load_yaml(initial_positions_file_1)}"
     use_tool_communication="$(arg use_tool_communication)"
     tool_voltage="$(arg tool_voltage)"
     tool_parity="$(arg tool_parity)"
     tool_baud_rate="$(arg tool_baud_rate)"
     tool_stop_bits="$(arg tool_stop_bits)"
     tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
     tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
     tool_device_name="$(arg tool_device_name)"
     tool_tcp_port="$(arg tool_tcp_port)"
     robot_ip="$(arg robot_ip_1)"
     script_filename="$(arg script_filename)"
     output_recipe_filename="$(arg output_recipe_filename)"
     input_recipe_filename="$(arg input_recipe_filename)"
     reverse_ip="$(arg reverse_ip)"
     script_command_port="$(arg script_command_port_1)"
     reverse_port="$(arg reverse_port_1)"
     script_sender_port="$(arg script_sender_port_1)"
     trajectory_port="$(arg trajectory_port_1)"
     >
     <origin xyz="0 0 0" rpy="0 0 0" />          
   </xacro:ur_robot>

   <link name="$(arg tf_prefix_1)camera_base">
    <visual>
      <geometry>
        <cylinder length="${camera_base_length}" radius="${camera_base_radius}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="red">
        <color rgba="0.8 0 0 .6"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="${camera_base_length}" radius="${camera_base_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint name="$(arg tf_prefix_1)tool0_to_camera_base" type="fixed">
    <parent link="$(arg tf_prefix_1)tool0"/>
    <child link="$(arg tf_prefix_1)camera_base"/>
    <origin xyz="${camera_base_origin}" rpy="0 0 0"/>
  </joint>

  <link name="$(arg tf_prefix_1)sensor_base">
    <visual>
      <geometry>
        <cylinder length="${sensor_base_length}" radius="${sensor_base_radius}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 .8 .6"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="${sensor_base_length}" radius="${sensor_base_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint name="$(arg tf_prefix_1)camera_base_to_sensor_base" type="fixed">
    <parent link="$(arg tf_prefix_1)camera_base"/>
    <child link="$(arg tf_prefix_1)sensor_base"/>
    <origin xyz="${sensor_base_origin}" rpy="0 0 0"/>
  </joint>

  <link name="$(arg tf_prefix_1)hand_connector_link">
    <visual>
      <origin xyz="-0.04 0.04 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://duo_ur/meshes/accessories/hand_connector.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.04 0.04 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://duo_ur/meshes/accessories/hand_connector.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="$(arg tf_prefix_1)sensor_base_to_hand_connector" type="fixed">
    <parent link="$(arg tf_prefix_1)sensor_base"/>
    <child link="$(arg tf_prefix_1)hand_connector_link"/>
    <origin xyz="0 0 0.0175" rpy="0 0 0"/>
  </joint>

  <xacro:brainco_hand prefix="$(arg tf_prefix_1)hand_"/>
  <joint name="$(arg tf_prefix_1)hand_connector_to_hand" type="fixed">
    <parent link="$(arg tf_prefix_1)hand_connector_link"/>
    <child link="$(arg tf_prefix_1)hand_base_link"/>
    <origin xyz="0 0 0.0487" rpy="1.5708 0 -2.0943951"/>
  </joint>

  <link name="$(arg tf_prefix_1)tcp"/>
  <joint name="$(arg tf_prefix_1)hand_base_to_tcp" type="fixed">
    <parent link="$(arg tf_prefix_1)hand_base_link"/>
    <child link="$(arg tf_prefix_1)tcp"/>
    <origin xyz="0 0.028 -0.01" rpy="0 3.1416 -1.5708"/> 
  </joint>

   <xacro:ur_robot
     name="$(arg tf_prefix_2)$(arg name)"
     tf_prefix="$(arg tf_prefix_2)"
     parent="$(arg tf_prefix_2)base_mount"   
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"
     use_fake_hardware="$(arg use_fake_hardware)"
     fake_sensor_commands="$(arg fake_sensor_commands)"
     sim_gazebo="$(arg sim_gazebo)"
     sim_ignition="$(arg sim_ignition)"
     headless_mode="$(arg headless_mode)"
     initial_positions="${xacro.load_yaml(initial_positions_file_2)}"
     use_tool_communication="$(arg use_tool_communication)"
     tool_voltage="$(arg tool_voltage)"
     tool_parity="$(arg tool_parity)"
     tool_baud_rate="$(arg tool_baud_rate)"
     tool_stop_bits="$(arg tool_stop_bits)"
     tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
     tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
     tool_device_name="$(arg tool_device_name)"
     tool_tcp_port="$(arg tool_tcp_port)"
     robot_ip="$(arg robot_ip_2)"
     script_filename="$(arg script_filename)"
     output_recipe_filename="$(arg output_recipe_filename)"
     input_recipe_filename="$(arg input_recipe_filename)"
     reverse_ip="$(arg reverse_ip)"
     script_command_port="$(arg script_command_port_2)"
     reverse_port="$(arg reverse_port_2)"
     script_sender_port="$(arg script_sender_port_2)"
     trajectory_port="$(arg trajectory_port_2)"
     >
     <origin xyz="0 0 0" rpy="0 0 0" />          
   </xacro:ur_robot>

   <link name="$(arg tf_prefix_2)camera_base">
    <visual>
      <geometry>
        <cylinder length="${camera_base_length}" radius="${camera_base_radius}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="red">
        <color rgba="0.8 0 0 .6"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="${camera_base_length}" radius="${camera_base_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint name="$(arg tf_prefix_2)tool0_to_camera_base" type="fixed">
    <parent link="$(arg tf_prefix_2)tool0"/>
    <child link="$(arg tf_prefix_2)camera_base"/>
    <origin xyz="${camera_base_origin}" rpy="0 0 0"/>
  </joint>

  <link name="$(arg tf_prefix_2)sensor_base">
    <visual>
      <geometry>
        <cylinder length="${sensor_base_length}" radius="${sensor_base_radius}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 .8 .6"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="${sensor_base_length}" radius="${sensor_base_radius}"/>
      </geometry>
    </collision>
  </link>
  <joint name="$(arg tf_prefix_2)camera_base_to_sensor_base" type="fixed">
    <parent link="$(arg tf_prefix_2)camera_base"/>
    <child link="$(arg tf_prefix_2)sensor_base"/>
    <origin xyz="${sensor_base_origin}" rpy="0 0 0"/>
  </joint>

  <link name="$(arg tf_prefix_2)hand_connector_link">
    <visual>
      <origin xyz="-0.04 0.04 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://duo_ur/meshes/accessories/hand_connector.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.04 0.04 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://duo_ur/meshes/accessories/hand_connector.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="$(arg tf_prefix_2)sensor_base_to_hand_connector" type="fixed">
    <parent link="$(arg tf_prefix_2)sensor_base"/>
    <child link="$(arg tf_prefix_2)hand_connector_link"/>
    <origin xyz="0 0 0.0175" rpy="0 0 0"/>
  </joint>

  <xacro:brainco_hand prefix="$(arg tf_prefix_2)hand_"/>
  <joint name="$(arg tf_prefix_2)hand_connector_to_hand" type="fixed">
    <parent link="$(arg tf_prefix_2)hand_connector_link"/>
    <child link="$(arg tf_prefix_2)hand_base_link"/>
    <origin xyz="0 0 0.0487" rpy="1.5708 0 -2.0943951"/>
  </joint>

  <link name="$(arg tf_prefix_2)tcp"/>
  <joint name="$(arg tf_prefix_2)hand_base_to_tcp" type="fixed">
    <parent link="$(arg tf_prefix_2)hand_base_link"/>
    <child link="$(arg tf_prefix_2)tcp"/>
    <origin xyz="0 0.028 -0.01" rpy="0 3.1416 -1.5708"/> 
  </joint>

   <xacro:if value="$(arg sim_gazebo)">
    
    <gazebo reference="world">
    </gazebo>
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <xacro:if value="$(arg sim_ignition)">
    
    <gazebo reference="world">
    </gazebo>
    <gazebo>
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(arg simulation_controllers)</parameters>
        <controller_manager_node_name>controller_manager</controller_manager_node_name>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>
